:root {
    --default-color: #2E2F42;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--default-color);
    margin: 0;
    padding:0%;
}
.header-link {
    text-decoration: none;
    font-size: 18px;
    font-family: Raleway;
    font-weight: 800;
    line-height: 1.17;
}
.header-link span {
    color: #4D5AE5;
}
.link-items {
    padding-inline-start: 0px;
    margin: 0;

}
.contacts {
    padding-inline-start: 0px;
    margin: 0;

}
.contacts-item{
    text-decoration: none;
    list-style-type: none;
}
.links {
    text-decoration: none;
}
nav ul {
    list-style-type: none;
}
.key-behaviors ul{
    list-style-type: none;
}
.service-offer {
    background-color: #2E2F42;
}
h1 {
    color: white;
    font-size: 56px;
    font-family: Roboto;
    font-weight: 700;
    line-height: 60px;
    text-align: center;
    text-transform: uppercase;
}
.order {
    color: white;
    font-size: 16px;
    font-family: Roboto;
    font-weight: 500;
    line-height: 24px;
    background-color: #4D5AE5;
}